[submodule "www/plugins/auto-entities"]
	path = www/plugins/auto-entities
	url = https://github.com/thomasloven/lovelace-auto-entities
[submodule "www/plugins/card-mod"]
	path = www/plugins/card-mod
	url = https://github.com/thomasloven/lovelace-card-mod
[submodule "www/plugins/card-tools"]
	path = www/plugins/card-tools
	url = https://github.com/thomasloven/lovelace-card-tools
[submodule "www/plugins/layout-card"]
	path = www/plugins/layout-card
	url = https://github.com/thomasloven/lovelace-layout-card
[submodule "www/plugins/bubble-card"]
	path = www/plugins/bubble-card
	url = https://github.com/clooos/bubble-card
[submodule "www/plugins/atomic-calendar-revive"]
	path = www/plugins/atomic-calendar-revive
	url = https://github.com/totaldebug/atomic-calendar-revive
[submodule "www/plugins/lovelace-card-mod"]
	path = www/plugins/lovelace-card-mod
	url = https://github.com/thomasloven/lovelace-card-mod.git
[submodule "www/plugins/my-cards"]
	path = www/plugins/my-cards
	url = https://github.com/AnthonMS/my-cards.git
[submodule "www/plugins/light-entity-card"]
	path = www/plugins/light-entity-card
	url = https://github.com/ljmerza/light-entity-card.git
[submodule "custom_components/browser_mod"]
	path = custom_components/browser_mod
	url = https://github.com/thomasloven/hass-browser_mod.git
