[submodule "www/plugins/auto-entities"]
	path = www/plugins/auto-entities
	url = https://github.com/thomasloven/lovelace-auto-entities
[submodule "www/plugins/card-mod"]
	path = www/plugins/card-mod
	url = https://github.com/thomasloven/lovelace-card-mod
[submodule "www/plugins/card-tools"]
	path = www/plugins/card-tools
	url = https://github.com/thomasloven/lovelace-card-tools
[submodule "www/plugins/layout-card"]
	path = www/plugins/layout-card
	url = https://github.com/thomasloven/lovelace-layout-card
[submodule "www/plugins/mini-graph-card"]
	path = www/plugins/mini-graph-card
	url = https://github.com/kalkih/mini-graph-card
[submodule "www/plugins/bubble-card"]
	path = www/plugins/bubble-card
	url = https://github.com/clooos/bubble-card
[submodule "www/plugins/atomic-calendar-revive"]
	path = www/plugins/atomic-calendar-revive
	url = https://github.com/totaldebug/atomic-calendar-revive
